.applications-page {
	.application {
		margin-top: 2em;
		h2 {
			margin-bottom: 0.5em;
		}
		.desc {
			line-height: 1.4em;
		}
		.icon {
			margin-top: 40px;
			@include BIDIR_VALUE(padding, 0 15px 0 0, 0 0 0 15px);
		}
	}
}
